.joinpage{
    background-color: rgb(69, 68, 68);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.joincontainer{
    border:2px solid white;
    height: 50%;
    width: 50%;
}